body {
       margin-left: 500px;
       margin-top: 200px;
}
input {                                         
  background-color: rgb(215, 214, 248);
  appearance: none;
  border: 3px solid black;
  outline: none;
  font: inherit;
}
.error{
    border: 3px solid red;
}

.valid {
    border: 3px solid green;
}

input {
    width: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
    
}

.log{
    background-color: gray;
    color: black;
    height: 50vh;
    padding: 1rem;
    white-space: pre-line;
}
.input-container{
    display: flex;
    flex-direction: column;
}