body {
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}
#comments {
  padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.each-comment {
  border-radius: 20px;
    background-color: #ccc;
}
.comment {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#comments h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}



#comments a {
  text-decoration: none;
  color: rgb(183, 118, 248);
  transition: color 0.2s ease;
}
#comments a:hover {
  color:rgb(135, 17, 252); 
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#pagination button.active {
  background-color: #333;
  color: #fff;
}

#pagination button:hover {
  background-color: #e3e3e3;
}