  body {
    font-family: 'Roboto', sans-serif;
    
  }
#app {
      margin-left: 25px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
}
  .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        padding: 10px;
        width: 300px;
        background-color: rgb(255, 162, 0);
      }

      .card  div {
        padding-top: 8px;
      }
      .card img {
        width: 100%;
      }

      button {
        margin-top: 10px;
      } 
