@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    --blue  : rgb(56, 56, 255);
    --yellow: rgb(250, 250, 94);
    font-size: 20px;
}

body{
   margin: 0;
   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.icon{
    font-size: 30px;
}
.add{
    font-size: 20px;
    border: 1px solid green;
    color: white;
    background-color: green;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.add:hover{
    background-color: rgb(2, 88, 2);
    transition: all .2s;
}

.add:hover span{
    display: inline-block;
    animation: addBtnFile .2s 1 linear forwards;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

header, .navigation{
    background-color: var(--blue);
}

header > nav{
    display: flex;
    justify-content: space-evenly;
}

header > nav > div{
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
}

.navigation{
    width: 300px;
    top: calc(2.8rem);
    height: calc(100vh - 2.8rem);
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
}

.navigation li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    line-height: 2rem;
    cursor: pointer;
}

.navigation li a:hover, nav div:hover{
    background-color: var(--yellow);
    color: var(--blue);
    transition: all .8s;
}

main section{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
    max-height: 40px;
}

thead{
    max-height: 30px;
}

.container-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(25deg, rgba(192, 192, 192, .2) 10px, rgba(77, 77, 77, .2) 30px);
}

.modal-window{
    width: 50%;
    min-height: 60vh;
    background-color:  rgb(56, 56, 255);
    padding: 20px;
    border: 1px solid var(--blue);
}

.hide{
    display: none;
}

.error{
    border: 5px solid red;
}

button:disabled{
    filter: opacity(.7);
}

.alert-ok, .alert-error {
    width: 50%;
    position: absolute;
    top: 50%;
    left: calc(50% - 25%);
    z-index: 10;
}

.modal-body{
    font-size: 1.2rem;
}
.box-input{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.box-input input{
    width: 70%;
    font-size: .9rem;
}
.btn-modal{
    margin: 5px;
}
button{
 margin: 5px;
 border-radius: 5px;
 font-size: 1rem;
 padding: 1px 6px;
 cursor: pointer;
 transition: all 0.2s;
}
button:hover{
    background-color: rgb(65, 7, 158);
}
.icon{
    display: inline-block;
    padding: .5rem;
    border-radius: 8px;
    background-color: rgba(85, 85, 85, 0.485);
    cursor: pointer;
    transition: background-color .5s;
}
.icon:hover{
    background-color:rgba(85, 85, 85, 1);
}

@keyframes addBtnFile {
    from{
        transform: translateY(-10vh);
    }
    to{
        transform: translateY(0);
    }
}
