body {
    margin: 0 ;
    padding: 0;
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
}
h5{ margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    background-color: #001124;
   max-width: 1440px;
   min-height: 1024px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    }
img {
    padding-top: 190px;
    width: 100%;
    object-fit: cover;
    
}

.log-form {
    padding-left: 10%;
    margin-right: 5%;
    padding-top: 245px;
    width: 20vw;
}
.log-title {
font-size: 45px;
font-family: 'DM Serif Display', serif;
font-weight: 400;
margin-top: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
    
}
.flex-container :nth-child(3) {
    padding-top: 10px;
}
.link-container {
    display: flex;
    margin-top: 32px;
    font-size: 20px;
}
.link-container > a {
    margin-left: 3%;
    color:#499FFE
}
.link-text{
    font-size: 20px;
}
input {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    font-size: 20px;
}
.log-btn {
    font-family: 'Padauk', sans-serif;
    background-color: #015FC7;
    display: flex;
    
   padding-left: 50px;
   padding-right: 50px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    border: 0;
}







#spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}