body {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Padauk', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1440px;
    min-height: 1024px;
    background-color: #001124;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 117px;
}
.img-container {
}
.reg-form-container {
    display: flex;
    flex-direction: column;
    
}
.reg-form-text {
    font-size: 45px;
font-family: 'DM Serif Display', serif;
font-weight: 400;
margin-top: 0;
margin-top: -17px;
padding-bottom: 50px;
}
.reg-form-validator {
    display: flex;
    flex-direction: column;
    position: relative;
}
label:not(:first-child) {
    margin-top: 10px;
}
input {
      padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border: none;
}
input[name="name"] {
    
}
input:focus {
    box-shadow: inset 0 0 0 1px black, 0 0 3px 3px rgb(68, 3, 245);
}
.submit-btn {
    font-family: 'Padauk', sans-serif;
    background-color: #015FC7;
    display: flex;
   margin-left: 95px;
   margin-top: 37px;
   padding-left: 50px;
   padding-right: 50px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    border: 0;
}


 .error-symbol-name {
    display: none;
}
 #error-symbol-name {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-name {
    display: none;
}
#done-symbol-name {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
} 
.error-symbol-date {
    display: none;
}
 #error-symbol-date {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-date {
    display: none;
}
#done-symbol-date {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
}
.error-symbol-email {
    display: none;
}
 #error-symbol-email {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-email {
    display: none;
}
#done-symbol-email {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
}
.error-symbol-nameFM {
    display: none;
}
 #error-symbol-nameFM {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-nameFM {
    display: none;
}
#done-symbol-nameFM {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
}

.error-symbol-tel {
    display: none;
}
 #error-symbol-tel {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-tel {
    display: none;
}
#done-symbol-tel {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
}




.error-symbol-password {
    display: none;
}
 #error-symbol-password {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-password {
    display: none;
}
#done-symbol-password {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
}

 .error-symbol-repass {
    display: none;
}
 #error-symbol-repass {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-repass {
    display: none;
}
#done-symbol-repass {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
} 



 .error-symbol-home {
    display: none;
}
 #error-symbol-home {
    position: absolute;
    top:13.7%;
    left:90%;
} 
.done-symbol-home {
    display: none;
}
#done-symbol-home {
    position: absolute;
    top:13.7%;
    left:90%;
    color: green;
} 