body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;

}
h2,p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body>h2 {
    padding-top: 20px;
    color: orangered;
}
#page-header {
    background-color: rgb(244, 219, 247);
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    border: 2px solid black;
}
#page-nav { 
    background-color: rgb(202, 228, 255);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 47%;
    padding-right: 47%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: blue;
    border: 1px solid rgb(106, 153, 254);
}
main {
    display: flex;
  
    
    padding-top: 20px;
}
#section {
    background-color: rgb(244, 219, 247);
    width: 70%;
    margin-right: 1%;
    border: 2px solid black;
}
#section > h2 {
    padding-top: 10px;
}
#header-in-section{
    width: 96%;
    color: blue;
    background-color: rgb(202, 228, 255);
    margin-top: 5px;
    margin-left: 2%;
    border: 1px solid rgb(106, 153, 254);
    padding-top: 5px;
    padding-bottom: 5px;
}
#article-in-section{
    width: 96%;
    background-color: rgb(202, 228, 255); 
    color: blue;
    margin-top: 20px;
    margin-left: 2%;
    border: 1px solid rgb(106, 153, 254);
}
#article-in-section > h2 {
    padding-top: 10px;
}
#header-in-article{
    width: 96%;
    color: rgb(14, 222, 14);
    background-color:rgb(216, 247, 216);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-top: 10px;
    border: 1px solid rgb(184, 241, 184);
}
.p-in-article{
   width: 96%;
    color: rgb(14, 222, 14);
    background-color:rgb(216, 247, 216);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-top: 15px;
    border: 1px solid rgb(184, 241, 184);
}
.flex {
    display: flex;
    margin-top: 15px;
    margin-left: 2%;
    color: rgb(14, 222, 14);
}
.p-in-div{
 background-color:rgb(216, 247, 216);
    width: 48%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(184, 241, 184);
}
#aside-in-div
{
    width: 48%;
    background-color:rgb(216, 247, 216);
    margin-left: 2%;
     padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(184, 241, 184);
}
#footer-in-article {
    width: 96%;
    background-color:rgb(216, 247, 216);
    color: rgb(14, 222, 14);
    margin-left: 2%;
     padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(184, 241, 184);
}

#section2 {
    background-color: rgb(244, 219, 247);
    width: 30%;
    border: 2px solid black;
    padding-top: 10px;
}
#header-in-section2 {
    width: 92%;
    color: blue;
    background-color: rgb(202, 228, 255);
     padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 4%;
    border: 1px solid rgb(106, 153, 254);
}
#nav-in-section2{
    width: 92%;
    color: blue;
    background-color: rgb(202, 228, 255);
     padding-top: 5px;
    padding-bottom: 468px;
    margin-top: 20px;
    margin-left: 4%;
    border: 1px solid rgb(106, 153, 254);
}
#article2-in-section{
    width: 96%;
    background-color: rgb(202, 228, 255); 
    color: blue;
    margin-top: 20px;
    margin-left: 2%;
    border: 1px solid rgb(106, 153, 254);
    margin-bottom: 20px;
}
#article2-in-section > h2 {
    padding-top: 10px;
}
#header-in-article2{
    width: 96%;
    color: rgb(14, 222, 14);
    background-color:rgb(216, 247, 216);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-top: 10px;
    border: 1px solid rgb(184, 241, 184);
}
#p-in-artilce2
{
width: 96%;
    color: rgb(14, 222, 14);
    background-color:rgb(216, 247, 216);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-top: 15px;
    border: 1px solid rgb(184, 241, 184);
}
#p2-in-article2{
width: 96%;
    color: rgb(14, 222, 14);
    background-color:rgb(216, 247, 216);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-top: 15px;
    border: 1px solid rgb(184, 241, 184);
}
#footer-in-article2{
width: 96%;
    background-color:rgb(216, 247, 216);
    color: rgb(14, 222, 14);
    margin-left: 2%;
     padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer{
    background-color: rgb(244, 219, 247);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: black;
    border: 2px solid black;
    margin-bottom: 30px;
    border: 1px solid rgb(184, 241, 184);
}

